@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-background: #051923;
  --card-background: #0f2338;
  --input-background: #2a3f54;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  height: 100vh;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.container h1 {
  color: white;
  font-weight: 700;
  font-size: 2.3rem;
}

.search-bar {
  height: 30px;
  width: max(80%, 200px);
  border-radius: 20px;
  background-color: var(--input-background);
  outline: none;
  border: 0px;
  color: white;
  padding: 7px;
  font-size: 1.2rem;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-view {
  display: flex;
  gap: 90px;
}

.weather-component {
  width: 370px;
  height: 370px;
  background-color: var(--card-background);
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather-component img {
  position: absolute;
  left: -70px;
  top: -25%;
  height: 200px;
}

.weather-component h1 {
  font-size: 2.2rem;
  justify-content: end;
  margin: 20px;
  display: flex;
}

.weather-information {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.5rem;
  gap: 20px;
  color: white;
}

.weather-information p {
  font-weight: 800;
}
